<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../stylesheets/shrike_style.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans+Narrow" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans" />

    <!-- Angular Libraries -->
    <script src="./angular/angular.js"></script>
    <script src="./angular-resource/angular-resource.js"></script>
    <script src="./angular-animate/angular-animate.js"></script>
    <script src="./angular-aria/angular-aria.js"></script>
    <script src="./angular-messages/angular-messages.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <!-- my scripts -->
    <script type='text/javascript' src="../javascripts/shrike-app.js"></script>
    <script type='text/javascript' src="../javascripts/dropdown-controller.js"></script>
    <script type='text/javascript' src="../javascripts/shrike-header-controller.js"></script>

    <!-- Bootstrap -->
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.1.4.js"></script>
    <link href="../stylesheets/bootstrap.css" rel="stylesheet">

</head>

<body ng-app="shrike-app" style="background-color: #000000">

    <shrike-header></shrike-header>
    
    <div ng-view></div>

</body>


</html>