<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta charset="utf-8">

    <base href="/">

    <!-- Styling -->
    <link rel="stylesheet" type="text/css" href="../stylesheets/shrike_style.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans+Narrow" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans" />

    <!-- Angular Libraries -->
    <script src="./angular/angular.js"></script>
    <script src="./angular-resource/angular-resource.js"></script>
    <script src="./angular-animate/angular-animate.js"></script>
    <script src="./angular-aria/angular-aria.js"></script>
    <script src="./angular-messages/angular-messages.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <!-- Bootstrap -->
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.1.4.js"></script>
    <link href="../stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Scripts -->
    <script type='text/javascript' src="../scripts/shrike-app.js"></script>
    <script type='text/javascript' src="../scripts/router.js"></script>
    <script type='text/javascript' src="../scripts/about_controller.js"></script>
    <script type='text/javascript' src="../scripts/contact_controller.js"></script>
    <script type='text/javascript' src="../scripts/home_controller.js"></script>
    <script type='text/javascript' src="../scripts/product_controller.js"></script>
    <script type='text/javascript' src="../scripts/purchase_controller.js"></script>
    <script type='text/javascript' src="../scripts/footer_controller.js"></script>
    <script type='text/javascript' src="../scripts/dropdown-controller.js"></script>
    <script type='text/javascript' src="../scripts/shrike-header-controller.js"></script>

</head>

<body ng-app="shrike-app" style="background-color: #000000">

    <shrike-header></shrike-header>

    <div style="min-height:100%;">
        <div ng-view></div>
    </div>

    <div layout-xs="column" layout="row" id="footer" ng-controller="footer_controller">
        <div layout="column" layout-align-xs="start center" style="height:100%; padding-top:20px">
            <span ng-click="go('/contact')">Contact Us</span>
            <span ng-click="go('/patents')">Intellectual Property Notice</span>
        </div>
        <div flex></div>
        <div layout="column" layout-align-xs="start center" layout-align="start end" style="height:100%; padding-top:20px">
            <img src="../images/finallogo_black.png" style="width:200px;">
            <span style="padding-top:10px;">© 2016 Blackbird Dynamics, LLC</span>
        </div>
    </div>

</body>


</html>