<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href='/stylesheets/shrike_style.css'>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

    <!-- my scripts -->
    <script type='text/javascript' src='/javascripts/landing.js'></script>
    <script type='text/javascript' src='/javascripts/dropdown-controller.js'></script>
    <script type='text/javascript' src='/javascripts/shrike-header-controller.js'></script>
</head>

<body class="general-background" ng-app="landing" ng-controller="landing_controller" layout="column">

    <!--for display on mobile browsers -->
    <div ng-show="onMobileBrowser()">
        <div class="mobile-header" layout="row" layout-align="end center">
            <md-menu md-position-mode="target-left bottom" class="mobileMenuButton">
                <md-button ng-click="$mdOpenMenu($event)" class="mobileMenuButton">
                    <img src="../images/ham_menu.png" class="hamburger">
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button style="font-family: 'PT Sans'; font-size:20px;" ng-click="toPatentDisclosure()">
                            PATENT DISCLOSURE
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        <img src="../images/mobile_logo.png" id="mobile-logo">
        <div style="height: 160px; width:200px;" flex="noshrink"></div>

        <!-- placeholder div to offset the absolute positioning of the logo -->
        <md-content style="height:80%; padding-top: 20px; padding-bottom: 25px;" layout-align="center center">
            <div>
                <div style="margin: 0 auto; padding-left:10%; padding-right:10%">
                    <p class="text">
                        The Shrike Mounts™ system is a sportbike luggage mounting system created to preserve the sleek silhouette of your bike. The patented design provides a cost effective solution to carry extra materials on sportbikes.
                    </p>
                </div>
                <div style="margin: 0 auto; padding-left:14%; padding-right:14%; padding-top:20px;">
                    <p class="text">
                        Our website is currently under maintenance. Sign up to learn more about Shrike Mounts products and email questions to &#115;&#104;&#114;&#105;&#107;&#101;&#109;&#111;&#117;&#110;&#116;&#115;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109.
                    </p>
                </div class="text">
            </div>
            <md-input-container md-no-float style="padding-left:10%; padding-right:10%; height:15px; width:100%">
                <input type="text" class="mobile-text" ng-model="user.name" placeholder="name">
            </md-input-container>
            <md-input-container md-no-float style="padding-left:10%; padding-right:10%; height:15px; width:100%">
                <input type="text" class="mobile-text" ng-model="user.email" placeholder="email">
            </md-input-container>
            <div style="padding-top: 30px; padding-left:10%; padding-right:10%;">
                <md-checkbox class="shrike-red" ng-model="hasUpdateInterest">
                    <span class="mobile-text" style="font-size: 14px"> YES - I would like to receive updates about Shrike Mounts products and release dates </span>
                </md-checkbox>
                <md-checkbox ng-model="hasPurchaseInterest">
                    <span class="mobile-text" style="font-size: 14px"> YES - I am interested in trying out the Shrike Mounts system and would like to know more about purchasing </span>
                </md-checkbox>
            </div>
            <md-button ng-click="submit()" style="width:50%; left: 25%; background-color: #9B201F; color: white; font-family: 'PT Sans'; font-size:20px;">
                SUBMIT
            </md-button>
        </md-content>
        <div class="footer">
            <p class="text" style="color:white; font-size:10px; padding-top:15px; padding-left:15px;"> © 2016 Blackbird Dynamics, LLC. SHRIKE MOUNTS and designs are trademarks of Blackbird Dynamics, LLC.</p>
        </div>
    </div>

    <!--for display on desktop browsers -->
    <div ng-show="!onMobileBrowser()" style="width:100%; height:100%">
        <div style="width:100%;">
            <div class="desktop-header" layout="row">
                <img src="../images/logo_white.png" id="desktop-logo">
                <md-menu md-position-mode="target-right bottom" style="position:absolute; right:20px; top: 8px">
                    <md-button ng-click="$mdOpenMenu($event)" class="mobileMenuButton">
                        <img src="../images/ham_menu.png" class="hamburger">
                    </md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button style="font-family: 'PT Sans'; font-size:20px;" ng-click="toPatentDisclosure()">
                                PATENT DISCLOSURE
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
            <div class="slider-container">
                <div class="slider" layout="row" >
                    <md-button id="leftSliderArrow" ng-click="prevSlide()" class="arrowButton">
                        <img src='../images/left-triangle.png' class="arrow">
                    </md-button>
                    <img ng-repeat="slide in slides" ng-hide="!isCurrentSlide($index)" class="slide" ng-src="{{slide}}">
                    <md-button id="rightSliderArrow" ng-click="nextSlide()" class="arrowButton">
                        <img src="../images/right-triangle.png" class="arrow">
                    </md-button>
                </div>
            </div>
        </div>
        <div style="padding-left:5%; padding-right:5%; min-width:879.3px; padding-bottom:10px" layout="row">
            <md-content style="padding-left:3%; padding-right: 3%; width:33%">
                <p class="text" style="font-size:22px">
                    The Shrike Mounts™ system is a sportbike luggage mounting system created to preserve the sleek silhouette of your bike. The patented design provides a cost effective solution to carry extra materials on sportbikes.
                </p>
            </md-content>
            <md-content style="padding-left:3%; padding-right: 3%; width:33%">
                <p class="text" style="font-size:22px">
                    Our website is currently under maintenance. Sign up to learn more about Shrike Mounts products.
                </p>
                <md-input-container style="width:100%; height:30px" md-no-float>
                    <input type="text" class="text" ng-model="user.name" placeholder="name">
                </md-input-container>
                <md-input-container style="width:100%; height:30px" md-no-float>
                    <input type="text" class="text" ng-model="user.email" placeholder="email">
                </md-input-container>
                <md-checkbox class="shrike-red" style="padding-top:10px" ng-model="hasUpdateInterest">
                    <span class="mobile-text" style="font-size: 12px"> YES - I would like to receive updates about Shrike Mounts products and release dates </span>
                </md-checkbox>
                <md-checkbox ng-model="hasPurchaseInterest">
                    <span class="mobile-text" style="font-size: 12px"> YES - I am interested in trying out the Shrike Mounts system and would like to know more about purchasing </span>
                </md-checkbox>
                <md-button ng-click="submit()" style="width:50%; left: 25%; background-color: #9B201F; color: white; font-family: 'PT Sans'; font-size:20px;">
                    SUBMIT
                </md-button>
            </md-content>
            <md-content style="padding-left: 3%; padding-right: 3%; width:33%" layout="column">
                <p class="text" style="font-size:22px">
                    Follow us on social media for updates, photos, and event information. You can also email us at &#115;&#104;&#114;&#105;&#107;&#101;&#109;&#111;&#117;&#110;&#116;&#115;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109.
                </p>
                <div style="padding-top:20px" layout="row">
                    <a href="https://twitter.com/shrikemounts"><img src="../images/twitter-icon.png" style="width:38px; height:38px"></a>
                    <p class="text" style="position:absolute; left:80px; font-size:22px">
                        @shrikemounts
                    </p>
                </div>
                <div style="padding-top:20px" layout="row">
                    <a href="https://www.facebook.com/Shrike-Mounts-1550366691930683/?fref=ts"><img src="../images/facebook-icon.png" style="width:38px; height:38px"></a>
                    <p class="text" style="position:absolute; left:85px; font-size:22px">
                        Shrike Mounts
                    </p>
                </div>
            </md-content>
        </div>
        <div class="footer">
            <p class="text" style="color:white; font-size:10px; padding-top:15px; padding-left:15px;"> © 2016 Blackbird Dynamics, LLC. SHRIKE MOUNTS and designs are trademarks of Blackbird Dynamics, LLC.</p>
        </div>
    </div>
</body>

</html>