<div style="background-color: #000000" ng-controller="about_controller">
    <div class="content-pane" layout-xs="column" layout-align-xs="center left" layout-sm="column" layout-align-sm="center left" layout="row" style="padding-top:20px; padding-bottom:100px">
        <div hide-xs flex=20></div>
            <div style="min-width:300px; max-width:500px; padding-bottom: 50px;" layout-align="center top" flex>
                <img src="../images/james-with-bike.png" style="width:100%; padding-top:10px">
            </div>

        <div flex="10" hide-xs></div>
        <div flex-gt-xs="55">
            <h class="mission-impact-text">OUR STORY</h>
            <p style="font-family: 'PT Sans'; font-size:17px; line-height: 28px; color:white">
                James Mann has been riding sports bikes since 1988. He had the idea for Shrike Mounts in 2007 while on a wrecked Yamaha R1. He and his wife Suzanne have been producing and perfecting the ultimate mounting system for your bike ever since.
            </p>
        </div>
        <div flex="20" hide-xs></div>
    </div>
    <div class="content-pane" style="width: 90%; margin: 0 auto;" hide-xs hide-sm>
        <img src="../images/regular_timeline.png" style="width:100%; padding-top:10px">
    </div>
    <div class="content-pane" style="width: 90%; margin: 0 auto;" hide-gt-sm>
        <img src="../images/mobile_timeline.png" style="width:100%; padding-top:10px">
    </div>
    <div style="background-color:#000000; height:100px;"></div>
</div>

