<div layout="column" style="background-color:black">
    <div class="content-pane" layout-xs="column" layout-sm="column" layout="row" layout-align="center top" ng-controller="contact_controller" style="background-color:black; padding-bottom:90px;">
        <div hide-xs flex="10"></div>
        <div flex-gt-xs>
            <p class="body-text">
                The Shrike Mounts team would love to hear from you. Feel free to send us questions, comments, or thoughts you have about our product. <br><br> Email us at &#115;&#104;&#114;&#105;&#107;&#101;&#109;&#111;&#117;&#110;&#116;&#115;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;<br><br>
            </p>
             <p class="body-text">
                Blackbird Dynamics, LLC<br> &#51;&#48;&#55;&nbsp;&#78;&#046;&nbsp;&#66;&#114;&#105;&#100;&#103;&#101;&nbsp;&#83;&#116;&#046;&nbsp;&#83;&#116;&#101;&#046;&nbsp;&#49;&#48;&#52;<br>&#69;&#108;&#107;&#116;&#111;&#110;&#44;&nbsp;&#77;&#68;&nbsp;&#50;&#49;&#57;&#50;&#49;<br>&#52;&#52;&#51;&#8209;&#53;&#53;&#51;&#8209;&#50;&#56;&#55;&#56;<br><br>
            </p>
            
        </div>
        <div style="width:10%"></div>
        <div flex-gt-xs>
            <p class="body-text">
                To receive updates about the launch of the Shrike Mounts system, please enter your information below.
            </p>
            <div ng-show="loading">
                <md-progress-linear md-mode="indeterminate" color="yellow"></md-progress-linear>
            </div>
            <div style="height:25px"></div>
            <input class="contact-input" placeholder="Name" type="text" ng-model="user.name">
            <div style="height:20px"></div>
            <input class="contact-input" placeholder="email@address.domain" type="text" ng-model="user.email">
            <div style="height:20px"></div>
            <md-button style="color:white; background-color:#BAD8DB; width:100px; border-radius:10px;" ng-click="submit()"><span class="body-text" style="font-size: 15px; font-weight:bold; font-style: italic">SUBMIT</span></md-button>
        </div>
        <div hide-xs flex="10"></div>
    </div>
</div>