<form action="https://docs.google.com/a/udel.edu/forms/d/e/1FAIpQLScdw09ua8kpJPEG_hA4BgGCcf_GOg5fAEL1gAvB5I4ow1Rxhg/formResponse" target="_self" method="POST" id="mG61Hd">
    <div class="freebirdFormviewerViewFormCard">
        <div class="freebirdFormviewerViewAccentBanner freebirdAccentBackground"></div>
        <div class="freebirdFormviewerViewFormContent ">
            <div class="freebirdFormviewerViewHeaderHeader">
                <div class="freebirdFormviewerViewHeaderTitleRow">
                    <div class="freebirdFormviewerViewHeaderTitle" dir="auto" role="heading" aria-level="1">Spear Your Gear Today</div>
                </div>
                <div class="freebirdFormviewerViewHeaderDescription" dir="auto">Interested in ordering your own Shrike Mounts System? Submit an order request, and we will be in touch as soon as possible.</div>
            </div>
            <div class=freebirdFormviewerViewItemList role="list">
                <div role="listitem" class="freebirdFormviewerViewItemsItemItem" jsname="ibnC6b" jscontroller="RGrRJf" data-item-id="909576470">
                    <div class="freebirdFormviewerViewItemsItemItemHeader">
                        <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
                            <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto"></div>
                        </div>
                    </div>
                    <div class="freebirdFormviewerViewItemsEmbeddedobjectCenter">
                        <div class="freebirdFormviewerViewItemsEmbeddedobjectImageWrapper" style="width: 2656px; "><img src="https://lh4.googleusercontent.com/BzF9bsB4lokjF6yyliFycR_DA9WXnp9wXckcN1Eh8uojKud-_JVkDTupjKg4NJS-s01eftyoTg" class="freebirdFormviewerViewItemsEmbeddedobjectImage" style="width: 2656px; " title="" alt="" /></div>
                    </div>
                    <div class="freebirdFormviewerViewItemsItemGradingBox freebirdFormviewerViewItemsItemFeedbackBox" jsname="R7fTud"></div>
                </div>
                <div role="listitem" class="freebirdFormviewerViewItemsItemItem freebirdFormviewerViewItemsTextTextItem" jsname="ibnC6b" jscontroller="rDGJeb" jsaction="sPvj8e:e4JwSe,vwKRrd;" data-item-id="1485022809">
                    <div class="freebirdFormviewerViewItemsItemItemHeader">
                        <div class="freebirdFormviewerViewItemsItemItemTitleContainer">
                            <div class="freebirdFormviewerViewItemsItemItemTitle" dir="auto" role="heading" aria-level="2" aria-describedby="i.desc.1485022809">Test Question?</div>
                            <div class="freebirdFormviewerViewItemsItemItemHelpText" id="i.desc.1485022809" dir="auto"></div>
                        </div>
                    </div>
                    <div class="freebirdFormviewerViewItemsTextItemWrapper">
                        <div class="quantumWizTextinputPaperinputEl freebirdFormviewerViewItemsTextShortText freebirdThemedInput" jscontroller="pxq3x" jsaction="clickonly:KjsqPd; focus:Jt1EX; blur:fpfTEe; input:Lg5SV;" jsshadow jsname="W85ice">
                            <div class="quantumWizTextinputPaperinputMainContent exportContent">
                                <div class="quantumWizTextinputPaperinputContentArea">
                                    <div class="quantumWizTextinputPaperinputInputArea"><input type="text" class="quantumWizTextinputPaperinputInput exportInput" jsname="YPqjbf" autocomplete="off" tabindex="0" aria-label="Test Question?" aria-describedby="i.desc.1485022809 i.err.1485022809" name="entry.2085368816"
                                            value="" dir="auto" data-initial-dir="auto" data-initial-value="" />
                                        <div jsname="LwH6nd" class="quantumWizTextinputPaperinputPlaceholder exportLabel">Your answer</div>
                                    </div>
                                    <div class="quantumWizTextinputPaperinputUnderline exportUnderline"></div>
                                    <div jsname="XmnwAc" class="quantumWizTextinputPaperinputFocusUnderline exportFocusUnderline"></div>
                                </div>
                            </div>
                            <div jsname="ty6ygf" class="quantumWizTextinputPaperinputHint exportHint"></div>
                        </div>
                    </div>
                    <div class="freebirdFormviewerViewItemsItemGradingBox freebirdFormviewerViewItemsItemFeedbackBox" jsname="R7fTud"></div>
                    <div jsname="XbIQze" class="freebirdFormviewerViewItemsItemErrorMessage" id="i.err.1485022809" role="alert"></div>
                </div>
            </div>
            <div class="freebirdFormviewerViewNavigationNavControls" jscontroller="lSvzH" jsaction="rcuQ6b:npT2md;JIbuQc:V3upec(GeGHKb),HiUbje(M2UYVd),NPBnCf(OCpkoe)" data-shuffle-seed="-1705234486734247070">
                <div class="freebirdFormviewerViewNavigationButtonsAndProgress">
                    <div class="freebirdFormviewerViewNavigationButtons">
                        <div role="button" class="quantumWizButtonPaperbuttonEl quantumWizButtonPaperbuttonFlat quantumWizButtonPaperbuttonDark quantumWizButtonPaperbutton2El2 freebirdFormviewerViewNavigationSubmitButton" jscontroller="VXdfxd" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue;touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd;focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;"
                            jsshadow jsname="M2UYVd" aria-disabled="false" tabindex="0">
                            <div class="quantumWizButtonPaperbuttonRipple exportInk" jsname="ksKsZd"></div>
                            <div class="quantumWizButtonPaperbuttonFocusOverlay exportOverlay"></div>
                            <content class="quantumWizButtonPaperbuttonContent"><span class="quantumWizButtonPaperbuttonLabel">Submit</span></content>
                        </div>
                    </div>
                </div>
                <div class="freebirdFormviewerViewNavigationPasswordWarning">Never submit passwords through Google Forms.</div>
            </div><input type="hidden" name="fvv" value="1"><input type="hidden" name="draftResponse" value="[,,&quot;-1705234486734247070&quot;]
"><input type="hidden" name="pageHistory" value="0"><input type="hidden" name="fbzx" value="-1705234486734247070"></div>
    </div>
</form>