<div style="height:600px;" ng-controller="google_sheets_auth_test_controller">
    
    <!--<div id="authorize-div">-->
    <!--    <span>Authorize access to Google Sheets API</span>-->
        <!--Button for the user to click to initiate auth sequence -->
    <!--    <button id="authorize-button" ng-click="handleAuthClick($event)">-->
    <!--    Authorize-->
    <!--  </button>-->
    <!--</div>-->
    <!--<pre id="output"></pre>-->
    
    <button ng-click="test()">
        TEST
    </button>

</div>