<div ng-controller="home_controller" style="width:100%;">
    <!-- Call to Action - Regular -->
    <div layout="row" class="content-pane" style="background-color: #000000; padding-top:20px; padding-bottom:120px;" hide-xs hide-sm hide-md>
        <div style="min-width:480px; padding-right:20px">
            <div layout-align-xs="center enter">
                <p class="mission-impact-text" style="line-height: 45px;">
                    RIDE A SPORT BIKE? <br/> HAUL YOUR GEAR WITHOUT TRASHING YOUR RIDE.<br/>
                </p>
                <p class="body-text" style="white-space:nowrap; padding-bottom:15px">
                    The Shrike Mounts system is an innovative way to <br> mount saddlebags or other luggage to your sportbike <br> without touching the bodywork or using ugly brackets. <br/>
                </p>
                <div layout-align="row" layout="left center">
                    <md-button md-no-ink style="margin:0px; max-height:10px; border-radius:10px; color:white; background-color:#A6CAD0;" ng-click="go('/product')">
                        <span style="font-size:12px; font-family: 'PT Sans'; font-style:italic; font-weight:bold;">LEARN MORE</span>
                    </md-button>
                    <div style="width: 10px"></div>
                    <a href="https://www.facebook.com/Shrike-Mounts-1717782591884301/" target="_blank">
                        <img src="../images/FB-f-Logo__blue_512.png" style="max-height:38px">
                    </a>
                    <div style="width: 10px"></div>
                    <a href="https://www.youtube.com/channel/UCh44BRkqWGNgu0A5xKkeO0w" target="_blank">
                        <img src="../images/YouTube-icon-full_color.png" style="max-height:38px">
                    </a>
                </div>
            </div>
        </div>
        <div style="min-width:450px; width:450px; min-height:290px; height:290px">
            <img preload-image ng-src="../images/gallery/OEIP_Spin-In-Motorcycle-036.jpg" default-image="../images/gallery/OEIP_Spin-In-Motorcycle-036 default.jpg" style="width:100%; height:100%;" />
        </div>
    </div>
    <!-- Call to Action - Mobile -->
    <div class="content-pane" style="background-color: #000000; padding-top:20px; padding-bottom:120px; margin: 0 auto" hide-gt-md>
        <div hide-xs>
            <img preload-image ng-src="../images/gallery/OEIP_Spin-In-Motorcycle-036.jpg" default-image="../images/gallery/OEIP_Spin-In-Motorcycle-036 default.jpg" style="width:70%;" />
        </div>
        <div hide-gt-xs>
            <img preload-image ng-src="../images/gallery/OEIP_Spin-In-Motorcycle-036.jpg" default-image="../images/gallery/OEIP_Spin-In-Motorcycle-036 default.jpg" style="width:70%;" />
        </div>
        <div style="padding-top:60px">
            <p class="mission-impact-text" style="line-height: 45px; padding-bottom:10px;">
                RIDE A SPORT BIKE? <br/> HAUL YOUR GEAR WITHOUT TRASHING YOUR RIDE<br/>
            </p>
            <p class="body-text">
                The Shrike Mounts system is an innovative way to mount saddlebags or other luggage to your sportbike without touching the bodywork or using ugly brackets. <br/><br/>
            </p>
            <div layout-align="row" layout="left center">
                <md-button md-no-ink style="margin:0px; max-height:10px; border-radius:10px; color:white; background-color:#A6CAD0;" ng-click="go('/product')">
                    <span style="font-size:12px; font-family: 'PT Sans'; font-style:italic; font-weight:bold;">LEARN MORE</span>
                </md-button>
                <div style="width: 10px"></div>
                <a href="https://www.facebook.com/Shrike-Mounts-1717782591884301/" target="_blank">
                    <img src="../images/FB-f-Logo__blue_512.png" style="max-height:38px">
                </a>
                <div style="width: 10px"></div>
                <a href="https://www.youtube.com/channel/UCh44BRkqWGNgu0A5xKkeO0w" target="_blank">
                    <img src="../images/YouTube-icon-full_color.png" style="max-height:38px">
                </a>
            </div>
        </div>
    </div>

    <!-- 3 key pints -->
    <div class="content-pane" style="background-color: #A6CAD0; padding-top:70px; padding-bottom:100px;" layout="column" layout-gt-sm="row">
        <div flex style="padding-top:30px">
            <h class="mission-impact-text" style="white-space: nowrap">SLICK DESIGN</h>
            <div>
                <ul style="font-family: 'PT Sans'; font-size:15px; line-height: 24px">
                    <li><span class="list-items">Design won’t compromise the silhouette of your bike.</span></li>
                    <li><span class="list-items">Mount doesn’t touch your bike’s bodywork - there won’t be any scratching or damage.</span></li>
                    <li><span class="list-items">No visible mounting brackets means that the bike still looks good without the bags on.</span></li>
                </ul>
            </div>
        </div>
        <div show-gt-sm style="width:13%"></div>
        <div flex style="padding-top:30px">
            <h class="mission-impact-text">PRACTICAL</h>
            <ul style="font-family: 'PT Sans'; font-size:15px; line-height: 24px">
                <li><span class="list-items">Easy to install on your own.</span></li>
                <li><span class="list-items">Bags are easily added or removed once the system is attached.</span></li>
                <li><span class="list-items">Minimizes the impact of bags or luggage on handling.</span></li>
            </ul>
        </div>
        <div show-gt-sm style="width:13%"></div>
        <div flex style="padding-top:30px">
            <h class="mission-impact-text">VERSATILE</h>
            <ul style="font-family: 'PT Sans'; font-size:15px; line-height: 24px">
                <li><span class="list-items">Flexible carrying capability means that you can mount more than just your bags.</span></li>
                <li><span class="list-items">Designed to fit a wide range of sport bikes.</span></li>
            </ul>
        </div>
    </div>

    <!-- Comparison Table -->
    <div class="content-pane" style="background-color: #BADADD;" layout="column" hide-xs>
        <div style="padding-top:100px">
            <h class="mission-impact-text" style="color:#808080">SET APART FROM THE COMPETITION</h>
            <div style="background-color:white; height:2px; width:70%;"></div>
        </div>
        <div style="padding-top:70px; padding-bottom: 100px">
            <table>
                <tr>
                    <th style="width:300px"></th>
                    <th style="font-weight:normal; border-right: 4px solid; border-color:white;">
                        <p>SHRIKE MOUNTS SYSTEM</p>
                    </th>
                    <th style="font-weight:normal; border-right: 4px solid; border-color:white;">
                        <p class="table-heading-text">STANDARD SADDLEBAGS</p>
                    </th>
                    <th style="font-weight:normal;">
                        <p class="table-heading-text">RACK-BASED SYSTEM</p>
                    </th>
                </tr>
                <tr>
                    <td style="border-left:0px; border-right:0px;">
                        <p class="table-text">EASY TO INSTALL</p>
                    </td>
                    <td style="border-left:0px; text-align: center"><img src="../images/checkmark.png" style="width:30px; height:30px"></td>
                    <td style="text-align: center;"></td>
                    <td style="border-right:0px;"></td>
                </tr>
                <tr>
                    <td style="border-left:0px; border-right:0px;">
                        <p class="table-text">DOESN’T TOUCH BODYWORK</p>
                    </td>
                    <td style="border-left:0px; text-align: center"><img src="../images/checkmark.png" style="width:30px; height:30px"></td>
                    <td></td>
                    <td style="border-right:0px;"></td>
                </tr>
                <tr>
                    <td style="border-left:0px; border-right:0px;">
                        <p class="table-text">PRESERVES LOOK OF YOUR BIKE</p>
                    </td>
                    <td style="border-left:0px; text-align: center"><img src="../images/checkmark.png" style="width:30px; height:30px"></td>
                    <td></td>
                    <td style="border-right:0px;"></td>
                </tr>
                <tr>
                    <td style="border-left:0px; border-right:0px;">
                        <p class="table-text">NO VISIBLE MOUNTING BRACKET</p>
                    </td>
                    <td style="border-left:0px; text-align: center"><img src="../images/checkmark.png" style="width:30px; height:30px"></td>
                    <td></td>
                    <td style="border-right:0px;"></td>
                </tr>
                <tr>
                    <td style="border-left:0px; border-right:0px; border-bottom:0px">
                        <p class="table-text">CAN CARRY PASSENGER WHILE MOUNTED</p>
                    </td>
                    <td style="border-left:0px; border-bottom:0px"></td>
                    <td style="border-bottom:0px; text-align: center"><img src="../images/checkmark.png" style="width:30px; height:30px"></td>
                    <td style="border-bottom:0px; text-align: center; border-right:0px;"><img src="../images/checkmark.png" style="width:30px; height:30px"></td>
                </tr>
            </table>
        </div>

    </div>
</div>