<div>
    <div style="padding-left:7.5%; padding-right:7.5%; padding-bottom:80px; background: black">
        <h class="mission-impact-text" style="font-size:45px; font-weight:900;">NOTICE</h>
        <p style="font-family: 'PT Sans'; color:white; font-size:18px; line-height:25px">
            <br>
            Blackbird Dynamics, LLC is a provider of motorcycle products including the Shrike Mounts™ system. 
            <br><br>
            This page is intended to serve as notice under 35 U.S.C. § 287(a)
            <br><br>
            Product: Shrike Mounts Saddlebag Mounting System
            <br><br>
            US Patent Number 8,646,669
            <br><br>
            Other Patents Pending including US Application Number 13/998911
            <br><br>
            Intellectual property and patents owned by Blackbird Dynamics, LLC may be available for sale or license.  Please use the contact page to enquire about available technologies.
        </p>
    </div>
</div>