<head>
<title>Shrike Mounts system|Patents|Intellectual Property</title>
<meta name = “description” content = “Virtual marking page.  Intellectual property and patents owned by Blackbird Dynamics, LLC may be available for sale or license.”>
<!-- Inserting Google Analytics tracking code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103609349-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- Above line ends the Google Analytics tracking code -->
</head>
<div class="content-pane" style="padding-bottom:80px; background: black">
    <h class="mission-impact-text" style="font-size:40px; font-weight:900;">NOTICE</h>
    <p style="font-family: 'PT Sans'; color:white; font-size:16px; line-height:22px">
        <br> Blackbird Dynamics, LLC is a provider of motorcycle products including the Shrike Mounts&#8482; system.
        <br><br> This page is intended to serve as notice under 35 U.S.C. § 287(a)
        <br><br> Product: Shrike Mounts Saddlebag Mounting System
        <br><br> US Patent Number 8,646,669
        <br><br> Other Patents Pending including US Application Number 13/998911
        <br><br> Intellectual property and patents owned by Blackbird Dynamics, LLC may be available for sale or license. Please email us at &#115;&#104;&#114;&#105;&#107;&#101;&#109;&#111;&#117;&#110;&#116;&#115;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109; to enquire about available technologies.
    </p>
</div>
    