<div ng-controller="product_controller">

   <head>
<title>FZ-07 luggage|Product|Shrike Mounts sportbike system</title>
<meta name = “description” content = “Making sportbikes practical in just 4 easy steps! View our installation video and see how easy it is to install the Shrike Mounts luggage system.”>
<!-- Inserting Google Analytics tracking code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103609349-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- Above line ends the Google Analytics tracking code -->
</head>
 <!-- Carousel -->
    <div layout="row;" style="background:black">
        <div style="margin: 0 auto; width: 100%">
            <div uib-carousel active="active.active1" interval="6000" no-wrap="false" style="width:100%">
                <div ng-repeat="slide in slides track by $index" uib-slide index="$index" style="background-color:black; max-height:600px; width: 100%">
                    <img preload-image ng-src="{{slide.high_res_image_path}}" default-image="{{slide.default_image_path}}" style="width:100%; min-width:100%; height:100%" />
                    <div style="position:absolute; left: 0px; bottom:0px; width:100%; text-align:right; padding-right:20px;padding-bottom:20px" hide-xs hide-sm>
                        <h style="font-family: 'PT Sans'; font-size: 40px; font-weight:900; color:white; white-space: pre;"> {{slide.quote}} </h>
                        <p style="font-family: 'PT Sans'; font-size: 22px; color:white; white-space: pre; padding-right:7px"> {{slide.rider_name}} </p>
                    </div>
                    <div style="position:absolute; left: 0px; bottom:0px; width:100%; text-align:right; padding-right:20px;padding-bottom:20px" hide-gt-sm hide-xs>
                        <h style="font-family: 'PT Sans'; font-size: 25px; font-weight:900; color:white; white-space: pre;"> {{slide.quote}} </h>
                        <p style="font-family: 'PT Sans'; font-size: 13px; color:white; white-space: pre; padding-right:7px"> {{slide.rider_name}} </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Installation Instructions -->
    <div layout="column">

        <!-- Title -->
        <div style="background-color: #707070; height:100px">
            <div layout="column" class="content-pane" layout-align="center" style="height:100%">
                <h class="mission-impact-text" style="font-size:40px; font-weight:900; font-style:italic;" hide-xs>
                    INSTALL IN 4 EASY STEPS
                </h>
                <h class="mission-impact-text" style="font-size:30px; font-weight:900; font-style:italic;" hide-gt-xs>
                    INSTALL IN 4 EASY STEPS
                </h>
            </div>
        </div>

        <!-- Regular -->
        <div class="content-pane" style="height:400px; background-color: #FFFFFF;" hide-xs hide-sm>
            <div layout="row" style="height:400px; font-family:'PT Sans';">
                <div layout="column" layout-align="center center" style="height:100%; padding-left:70px;">
                    <p class="list-items" style="font-size: 17px; white-space: nowrap;">
                        1. Remove the passenger foot peg. <br/> 2. Install the Shrike Mounts&#8482; peg <br/> and secure with pin. <br/> 3. Adjust and tighten the jack screws. <br/> 4. Mount the receiver with the plate <br/> and bag attached. <br/>
                    </p>
                </div>
                <div style="min-width:85px"></div>
                <div layout="column" layout-align="center center" style="height:100%; padding-top:70px; padding-bottom:70px">
                    <div style="width:34vw; max-width:440px; height:21vw; max-height: 260px">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/0l7tg6XvvlM?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <!--Medium to Small -->
        <div layout="column" layout-align="center center" style="width:100%; background-color: #FFFFFF;" hide-gt-sm>
            <div layout="column" layout-align="center center" class="content-pane" style="padding-top:100px;">
                <iframe width="400px" height="250px" src="https://www.youtube.com/embed/0l7tg6XvvlM?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div layout="column" layout-align="center center" class="content-pane" style="font-family:'PT Sans'; padding-top:40px; padding-bottom:100px;">
                <div layout="column">
                    <p class="list-items" style="font-size: 18px;">
                        1. Remove the passenger foot peg. <br/> 2. Install the Shrike Mounts&#8482; peg and secure with pin. <br/> 3. Adjust and tighten the jack screws. <br/> 4. Mount the receiver with the plate and bag attached. <br/>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!--Key Facts About the Product -->
    <div layout="column">
        <div layout="column" layout-align="center" class="content-pane" style="background-color: #707070; height:100px">
            <h class="mission-impact-text" style="font-size:40px; font-weight:900; font-style:italic;" hide-xs>
                ABOUT THE SYSTEM
            </h>
            <h class="mission-impact-text" style="font-size:30px; font-weight:900; font-style:italic;" hide-gt-xs>
                ABOUT THE SYSTEM
            </h>
        </div>

        <!-- Regular -->
        <div layout="row" class="content-pane" style="background-color: #ffffff;" hide-xs hide-sm>
            <div layout="row" style="padding-bottom: 50px; padding-top:50px;">
                <div layout="column" layout-align=" center" style=" font-family:'PT Sans'; font-size: 16px; font-weight:bold; padding-left:80px;">
                    <div layout="row" style="padding-bottom:40px">
                        <div style="min-width:160px; white-space: nowrap; font-style: italic;"><span>THE PEG</span></div>
                        <div style="min-width:50px;">
                            <p>—</p>
                        </div>
                        <div>
                            <p style="white-space: nowrap">Easy to install and looks like <br/> a stock foot peg.</p>
                        </div>
                    </div>
                    <div layout="row" style="padding-bottom:40px">
                        <div style="min-width:160px; white-space: nowrap; font-style: italic;"><span>THE JACK SCREWS</span></div>
                        <div style="min-width:50px;">
                            <p>—</p>
                        </div>
                        <div>
                            <p style="white-space: nowrap">Hold the peg firmly in place. <br/> Surprisingly rigid!</p>
                        </div>
                    </div>
                    <div layout="row">
                        <div style="min-width:160px; white-space: nowrap; font-style: italic;"><span>THE RECEIVER</span></div>
                        <div style="min-width:50px;">
                            <p>—</p>
                        </div>
                        <div>
                            <p style="white-space: nowrap">Mates perfectly to the peg <br/> providing a solid mount <br/> for your stuff!</p>
                        </div>
                    </div>
                </div>
                <div style="min-width:85px"></div>
                <div layout="column" layout-align="center center" style="height:100%">
                    <div style="width:21vw; max-width:270px; height:21vw; max-height:270px">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/FGIFFYpZfK8?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <!-- Medium to Small -->
        <div layout="row" layout-align="center center" class="content-pane" style="background-color: #ffffff;" hide-gt-sm>
            <div layout="column" style="padding-top:100px; padding-bottom:100px">
                <div layout="column" layout-align="center center" style="padding-bottom: 50px;">
                    <iframe width="275px" height="250px" src="https://www.youtube.com/embed/FGIFFYpZfK8?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div layout="column" layout-align=" center" style="font-family:'PT Sans'; font-size: 16px; font-weight:bold;">
                    <div layout="column" style="padding-bottom:40px">
                        <div style="min-width:160px; white-space: nowrap; font-style: italic;"><span>THE PEG</span></div>
                        <div>
                            <p style="white-space:nowrap">Easy to install and looks like a stock <br/> foot peg.</p>
                        </div>
                    </div>
                    <div layout="column" style="padding-bottom:40px">
                        <div style="min-width:160px; white-space: nowrap; font-style: italic;"><span>THE JACK SCREWS</span></div>
                        <div>
                            <p style="white-space:nowrap">Hold the peg firmly in place. <br/> Surprisingly rigid!</p>
                        </div>
                    </div>
                    <div layout="column">
                        <div style="min-width:160px; white-space: nowrap; font-style: italic;"><span>THE RECEIVER</span></div>
                        <div>
                            <p style="white-space:nowrap">Mates perfectly to the peg providing <br/> a solid mount for your stuff!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>