<div ng-controller="product_controller">

    <!-- Carousel for Non-mobile -->
    <div style="height:475px; background-color: #000000; padding-left:10%; padding-right:10%; padding-bottom:30px" hide-xs hide-sm>
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" style="height:100%">
            <div ng-repeat="slide in slides" uib-slide index="$index" style="background-color:black; padding-bottom:70px">
                <div layout-xs="column" layout-sm="column" layout="row">
                    <div flex=60 layout="column" layout-align="top center" style="padding-top:40px; padding-bottom:40px; padding-left:40px; padding-right:60px">
                        <p class="mission-impact-text" style="font-size:40px; font-weight:900; text-align:left;">
                            {{slide.call_out}}
                        </p>
                    </div>
                    <div flex="40" style="padding-top:46px; padding-bottom:40px; padding-right:40px">
                        <p style="font-family:'PT Sans'; font-size:17px; line-height: 24px; color:white; text-align:left;">
                            {{slide.rest_of_quote}}
                        </p>
                        <div layout="column" layout-align="center end" style="padding-right:25px; padding-top:14px;">
                            <img src="{{slide.thumbnail_path}}" style="width:125px; height:80px">
                            <p style="font-family:'PT Sans'; font-size:17px; line-height: 24px; color:white; text-align:right; padding-top:14px;">
                                {{slide.rider_name}}<br> {{slide.bike_name}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Carousel for Mobile -->
    <div style="height:700px; background-color: #000000; padding-left:10%; padding-right:10%; padding-bottom:30px" hide-gt-sm>
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" style="height:100%">
            <div ng-repeat="slide in slides" uib-slide index="$index" style="background-color:black; padding-bottom:70px">
                <div layout="column" layout-align="center center" style="padding-top:40px;">
                    <div>
                        <p class="mission-impact-text" style="font-size:40px; font-weight:900; text-align:left;">
                            {{slide.call_out}}
                        </p>
                    </div>
                    <div>
                        <p style="font-family:'PT Sans'; font-size:17px; line-height: 24px; color:white; text-align:left;">
                            {{slide.rest_of_quote}}
                        </p>
                        <div layout="column" layout-align="center end">
                            <img src="{{slide.thumbnail_path}}" style="width:125px; height:80px; padding-top:20px">
                            <p style="font-family:'PT Sans'; font-size:17px; line-height: 24px; color:white; text-align:right; padding-top:20px">
                                {{slide.rider_name}}<br> {{slide.bike_name}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Installation Instructions -->
    <div layout="column">
        <div layout="column" layout-align="center" style="background-color: #A6CAD0; padding-left:7%; padding-right:7%; height:140px">
            <span class="mission-impact-text" style="font-size:45px; font-weight:900; font-style:italic;">
                INSTALL IN 4 EASY STEPS
            </span>
        </div>
        <div layout="row" style="background-color: #BAD8DB;">
            <div hide-gt-sm flex=10></div>
            <div flex layout="row" layout-xs="column" layout-sm="column" style="font-family:'PT Sans'; padding-bottom: 115px; padding-top:100px">
                <div hide-xs hide-sm style="width:14%"></div>
                <div layout="column" layout-align="center">
                    <p class="list-items" style="font-size: 22px">
                        1. Remove the passenger foot peg. <br/> 2. Install the Shrike Mounts peg and secure with pin. <br/> 3. Adjust and tighten the jack screws. <br/> 4. Mount the receiver with the plate and bag attached. <br/>
                    </p>
                </div>
                <div hide-xs hide-sm style="width:8%"></div>
                <div hide-gt-sm style="height:100px"></div>
                <div flex-xs=90 flex-sm=90 flex-gt-sm=60 style="height:360px;">
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/0l7tg6XvvlM?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
                <div hide-xs hide-sm style="width:14%"></div>
            </div>
            <div hide-gt-sm flex=10></div>
        </div>
    </div>

    <!-- Key Facts About the Product -->
    <div layout="column">
        <div layout="column" layout-align="center" style="background-color: #262626; padding-left:7%; padding-right:7%; height:140px">
            <span class="mission-impact-text" style="font-size:45px; font-weight:900; font-style:italic;">
                ABOUT THE SYSTEM
            </span>
        </div>
        <div layout="row" style="background-color: #ffffff;">
            <div flex layout="row" layout-xs="column" layout-sm="column" style="font-family:'PT Sans'; font-size: 22px; font-weight:bold; padding-bottom: 115px; padding-top:100px; padding-left:8%; padding-right:7%;">
                <div layout="column" flex-gt-sm=60>
                    <div layout-xs="column" layout-sm="column" layout-gt-sm="row" style="padding-bottom:40px">
                        <div style="min-width:195px; max-width:10%; white-space: nowrap; font-style: italic;"><span>THE PEG</span></div>
                        <div hide-xs hide-sm style="min-width:75px; max-width:10%;">
                            <p>—</p>
                        </div>
                        <div flex><span>Easy to install and looks like a <br> stock foot peg.</span></div>
                    </div>
                    <div layout-xs="column" layout-sm="column" layout-gt-sm="row" style="padding-bottom:40px">
                        <div style="min-width:195px; max-width:10%; white-space: nowrap; font-style: italic;"><span>THE JACK SCREWS</span></div>
                        <div hide-xs hide-sm style="min-width:75px; max-width:10%;">
                            <p>—</p>
                        </div>
                        <div flex><span>Holds the peg firmly in place. Surprisingly rigid!</span></div>
                    </div>
                    <div layout-xs="column" layout-sm="column" layout-gt-sm="row">
                        <div style="min-width:195px; max-width:10%; white-space: nowrap; font-style: italic;"><span>THE RECEIVER</span></div>
                        <div hide-xs hide-sm style="min-width:75px; max-width:10%;">
                            <p>—</p>
                        </div>
                        <div flex><span>Mates perfectly to the peg providing a solid mount for your stuff!</span></div>
                    </div>
                </div>
                <div hide-xs hide-sm flex=5></div>
                <div hide-gt-sm style="height:100px"></div>
                <div flex-gt-sm=35>
                    <div style="height:400px;">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/FGIFFYpZfK8?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>