<head>
<title>Shrike Mounts sportbike luggage system&#124;Purchase Page</title>
<meta name = “description” content = “Our innovative motorcycle luggage system allows you to carry saddlebags or other items on your sportbike.  Slick. Practical. Versatile. Easy to install.”>
</head>

<div ng-controller="purchase_controller">

    <div style="padding-left:7.5%; padding-right:7.5%; padding-bottom:80px; max-width:700px; background: black">
        <h class="mission-impact-text" style="font-size:45px; font-weight:900;">SPEAR YOUR GEAR TODAY</h>
        <p style="font-family: 'PT Sans'; color:white; font-size:18px; line-height:25px">Interested in ordering your own Shrike Mounts&#8482; system? Submit an order request, and we will be in touch as soon as possible.</p>
    </div>
    
    <div hide-xs hide-sm layout="row" style="background:#f3f3f3; padding-top:60px; padding-bottom:80px; padding-left:7.5%; padding-right:7.5%">
        <div flex>
            <div style="max-width:220px">
                <h style="font-family: 'PT Sans'; color:#303030; font-size:20px; font-weight:900;">CONTACT INFORMATION</h>

                <div style="height:20px"></div>
                <span class="form-label">Last Name</span>
                <input class="form-input" type="text">

                <div style="height:10px"></div>
                <span class="form-label">First Name</span>
                <input class="form-input" type="text">

                <div style="height:10px"></div>
                <span class="form-label">Phone</span>
                <input class="form-input" type="text">

                <div style="height:10px"></div>
                <span class="form-label">E-Mail</span>
                <input class="form-input" type="text">

            </div>
        </div>
        <div flex>
            <div style="max-width:220px">
                <h style="font-family: 'PT Sans'; color:#303030; font-size:20px; font-weight:900;">BIKE INFORMATION</h>

                <div style="height:20px"></div>
                <span class="form-label">Make</span>
                <input class="form-input" type="text">

                <div style="height:10px"></div>
                <span class="form-label">Model</span>
                <input class="form-input" type="text">

                <div style="height:10px"></div>
                <span class="form-label">Year</span>
                <input class="form-input" type="text">

                <div style="height:10px"></div>
                <span class="form-label">Bike Modifications</span>
                <textarea class="form-input" style="height:120px; resize: none;" type="text"></textarea>
            </div>
        </div>
        <div flex>
            <div>
                <h style="font-family: 'PT Sans'; color:#303030; font-size:20px; font-weight:900;">DISCLAIMER</h>
                <div style="height:20px"></div>
                <p class="form-label" style="font-style:normal"
                    I acknowledge that sportbike riding is an inherently dangerous activity and agree not to hold Blackbird Dynamics, LLC liable for any injuries or damages sustained while using the Shrike Mounts System.
                    <br>
                    <br> I have read and understand the intellectual property notice at shrikemounts.com/patents.
                </p>
                <div style="height:10px"></div>
                <div>
                    <md-checkbox></md-checkbox>
                    <span class="form-label">Agree</span>
                </div>
                <div style="height:20px"></div>
                <md-button class="submit-button"><span class="form-label">SUBMIT</span></md-button>
            </div>
        </div>
    </div>
    


    <div hide-xs hide-md hide-lg hide-gt-lg hide-xl layout="column" style="background:#f3f3f3; padding-top:60px; padding-bottom:80px; padding-left:7.5%; padding-right:7.5%">
        <div layout="row">
            <div flex>
                <div style="max-width:440px">
                    <h style="font-family: 'PT Sans'; color:#303030; font-size:20px; font-weight:900;">CONTACT INFORMATION</h>

                    <div style="height:20px"></div>
                    <span class="form-label">Last Name</span>
                    <input class="form-input" type="text">

                    <div style="height:10px"></div>
                    <span class="form-label">First Name</span>
                    <input class="form-input" type="text">

                    <div style="height:10px"></div>
                    <span class="form-label">Phone</span>
                    <input class="form-input" type="text">

                    <div style="height:10px"></div>
                    <span class="form-label">E-Mail</span>
                    <input class="form-input" type="text">

                </div>
            </div>
            <div style="width:70px"></div>
            <div flex>
                <div style="max-width:440px">
                    <h style="font-family: 'PT Sans'; color:#303030; font-size:20px; font-weight:900;">BIKE INFORMATION</h>

                    <div style="height:20px"></div>
                    <span class="form-label">Make</span>
                    <input class="form-input" type="text">

                    <div style="height:10px"></div>
                    <span class="form-label">Model</span>
                    <input class="form-input" type="text">

                    <div style="height:10px"></div>
                    <span class="form-label">Year</span>
                    <input class="form-input" type="text">

                    <div style="height:10px"></div>
                    <span class="form-label">Bike Modifications</span>
                    <textarea class="form-input" style="height:120px; resize: none;" type="text"></textarea>
                </div>
            </div>
        </div>
        <div flex style="padding-top:70px">
            <div>
                <h style="font-family: 'PT Sans'; color:#303030; font-size:20px; font-weight:900;">DISCLAIMER</h>
                <div style="height:20px"></div>
                <p class="form-label" style="font-style:normal">
                    I acknowledge that sportbike riding is an inherently dangerous activity and agree not to hold Blackbird Dynamics, LLC liable for any injuries or damages sustainted while using the Shrike Mounts System.
                    <br>
                    <br> I have read and understand the intellectual property notice at shrikemounts.com/patents.
                </p>
                <div style="height:10px"></div>
                <div>
                    <md-checkbox></md-checkbox>
                    <span class="form-label">Agree</span>
                </div>
                <div style="height:20px"></div>
                <md-button class="submit-button"><span class="form-label">SUBMIT</span></md-button>
            </div>
        </div>
    </div>
    


    <div hide-sm hide-md hide-lg hide-gt-lg hide-xl layout="column" style="background:#f3f3f3; padding-top:60px; padding-bottom:80px; padding-left:7.5%; padding-right:7.5%">
        <div layout="column">
            <div flex>
                <div style="max-width:440px">
                    <h style="font-family: 'PT Sans'; color:#303030; font-size:20px; font-weight:900;">CONTACT INFORMATION</h>

                    <div style="height:20px"></div>
                    <span class="form-label">Last Name</span>
                    <input class="form-input" type="text">

                    <div style="height:10px"></div>
                    <span class="form-label">First Name</span>
                    <input class="form-input" type="text">

                    <div style="height:10px"></div>
                    <span class="form-label">Phone</span>
                    <input class="form-input" type="text">

                    <div style="height:10px"></div>
                    <span class="form-label">E-Mail</span>
                    <input class="form-input" type="text">

                </div>
            </div>
            <div style="height:70px"></div>
            <div flex>
                <div style="max-width:440px">
                    <h style="font-family: 'PT Sans'; color:#303030; font-size:20px; font-weight:900;">BIKE INFORMATION</h>

                    <div style="height:20px"></div>
                    <span class="form-label">Make</span>
                    <input class="form-input" type="text">

                    <div style="height:10px"></div>
                    <span class="form-label">Model</span>
                    <input class="form-input" type="text">

                    <div style="height:10px"></div>
                    <span class="form-label">Year</span>
                    <input class="form-input" type="text">

                    <div style="height:10px"></div>
                    <span class="form-label">Bike Modifications</span>
                    <textarea class="form-input" style="height:120px; resize: none;" type="text"></textarea>
                </div>
            </div>
        </div>
        <div flex style="padding-top:70px">
            <div>
                <h style="font-family: 'PT Sans'; color:#303030; font-size:20px; font-weight:900;">DISCLAIMER</h>
                <div style="height:20px"></div>
                <p class="form-label" style="font-style:normal">
                    I acknowledge that sportbike riding is an inherently dangerous activity and agree not to hold Blackbird Dynamics, LLC liable for any injuries or damages sustainted while using the Shrike Mounts System.
                    <br>
                    <br> I have read and understand the intellectual property notice at shrikemounts.com/patents.
                </p>
                <div style="height:10px"></div>
                <div>
                    <md-checkbox></md-checkbox>
                    <span class="form-label">Agree</span>
                </div>
                <div style="height:20px"></div>
                <md-button class="submit-button"><span class="form-label">SUBMIT</span></md-button>
            </div>
        </div>
    </div>

</div>
